.instructors {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    overflow-x: auto;
  }
}

.instructorSearch {
  width: 200px;
  padding: 2px 5px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}
