@import "../../../../variables.module.scss";

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.messageWrapper {
  margin: 0 0 1rem 0;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
}

.form {
  width: 100%;
}

.required {
  color: $red-alert;
  font-size: 0.8rem;
  margin-bottom: 0;
}