@use "@/styles/variables.module.scss" as *;

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  max-width: min(100vh, calc(100vw - 32px));
}
