@use "@/styles/variables.module.scss" as *;

.languageSwitcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 20px;
  width: 80px;
  height: 35px;
  padding: 5px 12px;
  position: relative;

  margin: 1rem auto;

  .switch {
    width: 30px;
    height: 20px;
    background: white;
    border-radius: 20px;
    position: absolute;
    right: 7px;
    transition: all 0.3s ease;
  }

  .active {
    right: 42px;
  }

  .language {
    z-index: 1000;
    color: white;
    font-size: 14px;
    font-weight: 200;
    transition: all 0.3s ease;

    &--active {
      color: $blue_primary;
      font-weight: 700;
    }
  }
}
