@use "../../../variables.module.scss" as *;

.form {
  width: 100%;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  min-width: 1.2rem;
}

.loginLink {
  display: block;
  text-align: center;
  margin-top: 1rem;
  text-decoration: none;
}
