.classURL {
  display: flex;
  margin-top: 1.2rem;

  &__iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    height: 2rem;
    margin-right: 50px;
  }

  &__details {
    display: flex;
    flex-direction: column;
  }
}
