.rebookingConfirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 2rem;
  width: 80vw;
  height: 90vh;

  &__loading {
    height: 100px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}
