.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  background: white;
  border-radius: 16px;
  position: relative;
  max-height: 700px;
  overflow-y: auto;
  z-index: 10000;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 35px;
  width: 35px;
  padding: 3px;
  color: #333;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 180px;
  &:hover {
    cursor: pointer;
    background-color: rgba(black, 0.1);
  }
}

// Individual styles for each class
.rebooking {
  .closeButton {
    top: 15px;
    right: 15px;
  }
}

.booking {
  .modalContent {
    width: 800px;
    height: 600px;
    max-height: 80vh;
    max-width: 80vw;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .closeButton {
    top: 12px;
    right: 15px;
    z-index: 10001;
  }
}

.classDetail {
  .closeButton {
    top: 10px;
    right: 10px;
    color: white;
    background-color: rgba(black, 0.4);
    &:hover {
      background-color: rgba(black, 0.7);
    }
  }
}
