@import "../../../variables.module.scss";

.sideNavContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: $blue_primary;
}

.innerContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 0.5rem;
}

.sideNavLogo {
  display: flex;
  flex-direction: column;
  margin: 0.75rem;

  &__img {
    margin: 0.3rem 0.3rem 0.5rem 0.3rem;
  }
}

.sideNavUser {
  color: white;
  display: flex;
  height: 48px;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
  font-size: 0.875rem;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 20px;

  &__icon {
    width: 1.7rem;
    border-radius: 180px;
    border: solid 3px $purple-accent;
    background-color: $purple-accent;
  }
}
// ---------------------------------------
.link {
  display: flex;
  height: 48px;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.375rem;
  background-color: $blue_primary;
  color: white;
  padding: 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  transition:
    background-color 0.2s,
    color 0.2s;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: $active-sidenav-menu;
    color: #f0f0f0;
  }
}

.logout {
  margin-top: auto;

  button {
    border: none;
  }
}

.icon {
  width: 1.5rem;
}

.linkText {
  display: block;
}

.active {
  background-color: $active-sidenav-menu;
  color: #f0f0f0;
}
