@use "../../../../variables.module.scss" as *;

.classStatus {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 1rem 0;

  &__icon {
    height: 2rem;

    &.booked {
      color: $light-pink-regular-class;
    }
    &.rebooked {
      color: $light-yellow-rebooked-class;
    }
    &.completed {
      color: $completed-background-color;
    }
    &.canceledByInstructor {
      color: $gray-canceled-by-instructor;
    }
    &.canceledByCustomer {
      color: $gray-background;
    }
    &.freeTrial {
      color: $green-success;
    }
  }

  &__label {
    font-size: 26px;
    font-weight: 500;

    &.ja {
      font-weight: 600;
    }

    span {
      font-size: 20px;
    }
  }
}

// Individual styles for each class
.classItem {
  margin: unset;

  .classStatus__icon {
    width: 1.3rem;
    min-width: 1.3rem;
  }
  .classStatus__label {
    font-size: 1rem;
    font-weight: 500;
  }
}
