@import "./variables.module.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

// Styling for the calendar ------------------------------
.fc-day-sun {
  background-color: #f9f4f1 !important;
  color: red !important;
}

.fc-event {
  cursor: default !important;
}

.fc-col-header-cell-cushion {
  font-weight: 400;
}

.fc-day-today .fc-daygrid-day-number {
  background-color: $blue-primary !important;
  border-radius: 180px;
  color: white;
  height: 20p;
  width: 32px;
  text-align: center;
  font-size: 0.9rem;
  margin: 2px;
}

.fc-toolbar-title {
  font-weight: 500;
}

.fc-prev-button {
  &.fc-button {
    &.fc-button-primary {
      color: white;
      background-color: $blue-primary;
      margin-right: 5px;
    }
  }
}

.fc-next-button {
  &.fc-button {
    &.fc-button-primary {
      color: white;
      background-color: $blue-primary;
    }
  }
}

.fc-today-button {
  &.fc-button {
    &.fc-button-primary {
      color: white;
      background-color: $blue-primary;
    }
  }
}

.fc-dayGridMonth-button {
  &.fc-button {
    &.fc-button-primary {
      background-color: $blue_primary_hover;
      &.fc-button-active {
        background-color: $blue-primary;
      }
    }
  }
}

.fc-timeGridWeek-button {
  &.fc-button {
    &.fc-button-primary {
      background-color: $blue_primary_hover;
      &.fc-button-active {
        background-color: $blue-primary;
      }
    }
  }
}

.fc-timeGridDay-button {
  &.fc-button {
    &.fc-button-primary {
      background-color: $blue_primary_hover;
      &.fc-button-active {
        background-color: $blue-primary;
      }
    }
  }
}

.fc-header-toolbar {
  &.fc-toolbar {
    &.fc-toolbar-ltr div:nth-child(3) {
      width: 190px;
    }
  }
}
