$blue_primary: #414298;
$blue_primary_hover: #5656b3;
$purple-accent: #9174b2;
$purple-accent-hover: #a674c8;

$green-success: #65b72f;
$green-success-hover: #4a9a1c;
$red-alert: #e84240;
$red-alert-hover: #c93a2b;
$yellow-selected: #ffffde;

$booked-background-color: #e7fbd9;
$booked-text-color: #2c6e01;
$canceled-background-color: #ffebe0;
$canceled-text-color: #d7590f;
$completed-background-color: #b5c4ab; // 60% something

$active-sidenav-menu: #5a5c99;
$gray-background: #d9d9d9;
$gray-background-hover: #bfbfbf;
$white-background: #fbf8f7;

$back-btn-bc: #d9d9d9;
$back-btn-bc-hover: #bfbfbf;

$gray-canceled-by-instructor: #9e9e9e;

$light-pink-regular-class: #ffc0cb;
$light-yellow-rebooked-class: #eee8aa;

$text-dark: #333;
$text-medium: #666;
$text-light: #999;
$border-light: #ced4da;
$border-medium: #adb5bd;
$background-light: #f5f5f5;
$background-medium: #e0dcdc;
$background-hover: #ece8e8;
$text-body: #495057;

// CSS custom properties for use in TypeScript
:export {
  greenSuccess: $green-success;
  textLight: $text-light;
}
$light-purple: #e3e4ff;
