@import "../../../variables.module.scss";

.maintenanceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: #f9f9f9;
  color: #333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  padding: 0 20px;
  position: relative;
  overflow: hidden;
}

.maintenanceContainer p:first-of-type {
  font-size: 1.8rem;
  font-weight: 500;
  color: $red-alert;
  margin-bottom: 10rem;
}

.maintenanceContainer p:last-of-type {
  font-size: 2.2rem;
  font-weight: 400;
  color: $red-alert;
  margin-top: 10rem;
}

.logoWrapper {
  width: 50%;
  max-width: 1000px;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
  .maintenanceContainer p:first-of-type {
    margin-bottom: 6rem;
    font-size: 1.6rem;
  }

  .maintenanceContainer p:last-of-type {
    margin-top: 6rem;
    font-size: 1.8rem;
  }

  .logoWrapper {
    width: 50%;
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .maintenanceContainer p:first-of-type {
    margin-bottom: 4rem;
    font-size: 1.4rem;
  }

  .maintenanceContainer p:last-of-type {
    margin-top: 4rem;
    font-size: 1.6rem;
  }

  .logoWrapper {
    width: 60%;
    max-width: 250px;
  }
}

@media (max-width: 480px) {
  .maintenanceContainer p:first-of-type {
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }

  .maintenanceContainer p:last-of-type {
    margin-top: 2rem;
    font-size: 1.4rem;
  }

  .logoWrapper {
    width: 80%;
    max-width: 200px;
  }
}
