@import "../../../variables.module.scss";

.form {
  width: 100%;
  min-height: 19rem;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  min-width: 1.2rem;
}

.loginLink,
.passResetLink {
  display: block;
  text-align: center;
  margin-top: 1rem;
  text-decoration: none;
}
