@import "../../../variables.module.scss";

.table {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;

  &__head {
    display: grid;
    align-items: center;
    width: 100%;
    height: 50px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: $blue_primary;
    color: white;

    h3 {
      font-weight: 500;
      margin-left: 0.5rem;
      font-size: 1rem;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 2px 0;
    height: 100%;
    max-height: 440px;
    overflow: auto;
  }
}

// Individual styles for each class
.cancelClasses {
  .table__head {
    grid-template-columns: 0.25fr 1fr 0.45fr 1fr 1fr;
  }
}

.rebookableClassList {
  flex-grow: 1;
  margin-bottom: 1rem;
  .table {
    &__head {
      grid-template-columns: 1.3fr 0.4fr 0.35fr;
      height: 40px;

      h3 {
        margin-left: unset;
        margin: 0 auto;
      }
    }

    &__body {
      max-height: 330px;
      margin: unset;
    }
  }
}
