@use "../../../variables.module.scss" as *;

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.messageWrapper {
  margin: 0 0 1rem 0;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
}

.form {
  width: 100%;
}

.label {
  font-size: 0.9rem;
  margin: 0 0 0.5rem 0;
}

.textareaContainer {
  display: flex;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin: 0 0 1rem 0;
  margin-top: 0.25rem;
  position: relative;

  &__icon {
    width: 1.3rem;
    height: 1.3rem;
  }

  &:focus-within {
    border-color: $blue_primary;
  }
}

.textarea {
  width: 100%;
  height: 100px;
  border: none;
  border-radius: 0.3rem;
  padding: 0 0 0 0.5rem;
  font-size: 0.9rem;
  outline: none;
  resize: none;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: pre-line;
}

.required {
  color: $red-alert;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.eventColor {
  display: flex;
  align-items: flex-start;

  input[type="color"] {
    width: 400px;
    padding: 0;
    background: none;
  }

  &__text {
    margin: 25px 0 0 10px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    padding: 0.5rem;
    flex-shrink: 0;
  }
}

.checkLabel {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 4px;
  cursor: pointer;

  input {
    cursor: pointer;
  }
}
