@import "../../../variables.module.scss";

.profileCard {
  display: flex;
  flex-direction: column;
  width: 470px;
  padding: 28px 32px 0 32px;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  overflow: hidden;
}

// name
.customerName {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 66px;
  margin-bottom: 24px;

  &__profileIconContainer {
    height: 66px;
    width: 66px;
  }
  &__profileIcon {
    width: 66px;
    color: $blue-primary;
  }

  &__nameSection {
    width: 100%;
    margin-right: 10px;
  }
  &__text {
    font-size: 16px;
    font-weight: 300;
    width: 100%;
  }
  &__inputField {
    font-size: 24px;
    font-weight: 500;
    padding: 3px 6px;
    border-radius: 6px;
    width: 100%;
  }

  &__name {
    font-size: 24px;
    font-weight: 500;
  }
}

// email
.email {
  background-color: #f2f2f2;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 24px;

  &__title {
    font-size: 14px;
  }

  &__inputField {
    padding: 3px 6px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 6px;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }

  &__name {
    font-size: 20px;
    font-weight: 500;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
}

// home
.customerHome {
  background-color: #f2f2f2;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__title {
    font-size: 14px;
  }

  &__name {
    font-size: 20px;
    font-weight: 500;
  }
}

// buttons
.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.messageWrapper {
  margin-top: 1rem;
}
