@import "../../../variables.module.scss";

.profileCard {
  display: flex;
  flex-direction: column;
  width: 470px;
  padding: 28px 32px 28px 32px;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  overflow: hidden;
}

// name
.customerName {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 66px;
  margin-bottom: 24px;

  &__profileIconContainer {
    height: 66px;
    width: 66px;
  }
  &__profileIcon {
    width: 66px;
    color: $blue-primary;
  }

  &__nameSection {
    max-width: 300px;
    margin-right: 10px;

    overflow: hidden;
    white-space: nowrap;
  }
  &__text {
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    color: #3c4043;
  }
  &__inputField {
    font-size: 20px;
    font-weight: 400;
    padding: 3px 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 300px;
  }

  &__name {
    font-size: 24px;
    font-weight: 500;

    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// email, home(prefecture)
.email,
.customerHome {
  min-height: 73px;
  background-color: #f2f2f2;
  border-radius: 6px;
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  &__title {
    font-size: 14px;
    color: #3c4043;
  }

  &__inputField {
    padding: 3px 6px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }

  &__name {
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.userLeft {
  display: flex;
  align-items: flex-start;
  margin: 0 0 0 2rem;

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: $red-alert;
    width: 100%;
    margin: 0 0 1rem 0;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin: 0 0.2rem 0 0;
    color: $red-alert;
    position: relative;
    top: 1px;
  }
}

// buttons
.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.messageWrapper {
  margin-bottom: 1rem;
}
