@use "../../../../../../../variables.module.scss" as *;

.modalWrapper {
  width: min(600px, 92vw);
  height: 100%;
  max-height: 80vh;
  max-width: 600px;
}

.modalContent {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.classesTable {
  &__buttons {
    margin: 20px auto 0 auto;
    display: flex;
    gap: 30px;
  }
}

@media (max-width: 640px) {
  .modalContent {
    padding: 2.5rem 1rem 1.25rem;
  }

  .classesTable {
    &__buttons {
      margin: 16px 0 0;
      justify-content: flex-end;
    }
  }
}
