@use "../../../../../../../variables.module.scss" as *;

.modalWrapper {
  width: 600px;
  height: 100%;
  max-height: 700px;
  max-width: 600px;
}

.modalContent {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.classesTable {
  &__buttons {
    margin: 20px auto 0 auto;
    display: flex;
    gap: 30px;
  }
}
