@import "../../../variables.module.scss";

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  padding: 40px;
  max-height: 90vh;
  overflow-x: hidden;
}
