@use "../../../variables.module.scss" as *;

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1.5rem;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.header {
  background-color: $blue_primary;
  color: white;
  font-size: 0.9rem;
}

.headerText {
  padding: 0.5rem;
  font-weight: 400;
  text-align: left;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}
