@import "../../../../variables.module.scss";

.notification {
  display: flex;
  font-size: 0.8rem;
  // margin-top: 1.5rem;

  &__iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    height: 1.5rem;
    margin-right: 10px;
    color: $blue-primary;
  }

  span {
    color: $red-alert;
    font-weight: 500;
  }
}
