.addChildForm {
  width: 350px;
  padding: 3rem 2rem 2rem 2rem;;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__inputField {
    height: 30px;
    font-family: var(--font-poppins), sans-serif;
    padding: 3px 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
  }

  &__birthdate {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__label {
    font-size: 14px;
    margin-bottom: 3px;
  }

  &__messageWrapper {
    margin-bottom: 1rem;
  }

  &__button {
    margin: 0 auto;
  }
}
