@import "../../../variables.module.scss";

.children {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.childCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 350px;
  max-width: 350px;
  background-color: white;
  padding: 28px 32px 0 32px;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  overflow: hidden;

  &__profile {
    margin-bottom: 24px;
  }

  // buttons
  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }
}

// name
.childName {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 24px;

  &__profileIconContainer {
    height: 66px;
    width: 66px;
  }
  &__profileIcon {
    width: 66px;
    color: $blue-primary;
  }

  &__label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__text {
    font-size: 16px;
    font-weight: 300;
  }
  &__inputField {
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font-poppins), sans-serif;
    padding: 3px;
    border-radius: 6px;
    width: 100%;
  }
  &__name {
    font-size: 24px;
    font-weight: 500;
  }
}

// birthdate
.birthdate {
  background-color: #f2f2f2;
  border-radius: 6px;
  padding: 10px;

  &__text {
    font-size: 14px;
    font-weight: 300;
  }

  &__inputField {
    font-size: 14px;
    font-weight: 400;
    padding: 0 5px;
    border-radius: 6px;
    font-family: var(--font-poppins), sans-serif;
  }
}

// personal Info
.personalInfo {
  background-color: #f2f2f2;
  border-radius: 6px;
  padding: 10px;
  margin-top: 24px;
  flex: 1;
  overflow-y: auto;

  &__text {
    font-size: 14px;
    font-weight: 300;
  }

  &__inputField {
    font-size: 14px;
    font-weight: 400;
    padding: 0 3px;
    border-radius: 6px;
    width: 100%;
    height: 100px;
    font-family: var(--font-poppins), sans-serif;
  }
}

.childDetailsAndActions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.addBtn {
  margin-top: 10px;
  margin-bottom: 20px;
}
