.instructorItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 250px;
  
  
  position: relative;

  &--disabled {
    color: gray;
  }

  h5 {
    font-size: 1rem;
    padding: 8px 0;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1.1rem;
    height: 190px;
    width: 180px;
    background-color: #ece8e8;
    padding: 12px;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
}