.rebookingOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 2rem;
  width: 80vw;
  height: 80vh;

  &__options {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 3rem;
  }
}

.noInstructorMessage {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}
