.rebookingOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 1.5rem 2rem;
  width: 80vw;
  height: 90vh;

  &__optionsContainer {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 3rem;
  }

  &__option {
    width: 230px;
    height: 230px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ece8e8;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
}
