.addChildForm {
  width: 350px;
  padding: 3.5rem 2rem 2rem 2rem;
  height: 540px;
  display: flex;
  flex-direction: column;

  &__inputField {
    font-size: 1rem;
    height: 30px;
    font-family: var(--font-poppins), sans-serif;
    padding: 3px 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;

    &::placeholder {
      font-size: 14px;
    }
  }

  &__birthdate {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__label {
    font-size: 14px;
    margin-bottom: 3px;
  }

  &__messageWrapper {
    margin-bottom: 1rem;
  }

  &__button {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
