@import "../../../variables.module.scss";

.container {
  padding: 30px;
  border: 1px solid $gray-background;
  border-radius: 0.5rem;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
  width: 100%;

  .pic {
    border-radius: 180px;
    padding: 1rem;
  }

  h3 {
    margin-bottom: 1rem;
  }
}

.insideContainer {
  background-color: #f9fafb;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.userInfo {
  display: block;
  flex: 1;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}

.urlInfo {
  display: flex;
  font-size: 0.8rem;
  margin: 5px 0px 0px 0px;
}

.url {
  color: $blue_primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.info {
  font-size: 0.8rem;
}

// name
.instructorName {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 66px;
  margin-bottom: 24px;

  &__nameSection {
    width: 100%;
    margin-right: 10px;
  }
  &__text {
    font-size: 16px;
    font-weight: 300;
    width: 100%;
  }
  &__inputField {
    margin: 0px 50px 0px 0px;
    font-size: 20px;
    font-weight: 500;
    padding: 3px 6px;
    border-radius: 6px;
    width: 50%;
  }

  &__name {
    font-size: 24px;
    font-weight: 500;
  }
}

// Nickname, Birthdate
.nickname,
.birthdate {
  &__inputField {
    padding: 3px 6px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 6px;
    width: 200px;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
  }
}

// Working Time, Life History, Favorite Food, Hobby, Message For Children, Skill
.workingTime,
.lifeHistory,
.favoriteFood,
.hobby,
.messageForChildren,
.skill {
  &__inputField {
    margin: 0px 50px 0px 0px;
    padding: 3px 6px;
    font-size: 20px;
    font-weight: 400;
    border: 2px solid #000;
    border-radius: 6px;
    width: 100%;
    min-height: 100px;
    resize: none;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-line;
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-line;
  }
}

// email
.email {
  &__inputField {
    padding: 3px 6px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 6px;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }

  &__text {
    margin: 0 0 15px 0;
    font-size: 18px;
    font-weight: 400;
  }
}

// Class URL and Self Introduction
.classUrl,
.selfIntroduction {
  &__inputField {
    margin: 0px 50px 5px 0px;
    padding: 3px 6px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 6px;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
}

.meetingId,
.passcode {
  &__inputField {
    margin: 0px 10px 0px 0px;
    padding: 1px 1px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 6px;
    min-width: 200px;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
}

// buttons
.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.addBtn {
  margin-top: 10px;
  margin-bottom: 20px;
}
