@use "@/styles/variables.module.scss" as *;

$border_radius: 0.5rem;
$font_size: 0.9rem;

.title {
  margin: 0 0 0 1rem;
}

.container {
  display: inline-block;
  box-sizing: border-box;
  background-color: $gray-background;
  padding: 1rem;
  border-radius: $border_radius;
  width: 100%;
  overflow-x: auto;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1rem 0;
  flex-wrap: wrap;
  gap: 1rem;

  select,
  input {
    width: 180px;
    padding: 0.5rem;
    border: 1px solid #e5e7eb;
    border-radius: $border_radius;
    font-size: $font_size;
  }

  select {
    color: #888888;
  }

  @media (max-width: 800px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.filterContainer {
  display: flex;
  gap: 1rem;

  @media (max-width: 730px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.buttonsContainer {
  display: flex;
  gap: 1rem;

  @media (max-width: 730px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.tableWrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: #808080 transparent;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.tableContainer {
  border-radius: $border_radius;
  border-spacing: 0;
  border-collapse: separate;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  table-layout: auto;
  width: 100%;
}

.tableHeader {
  background-color: $blue_primary;
  font-size: $font_size;
  color: #ffffff;

  th {
    padding: 0.75rem 1rem;
    font-weight: 500;
    text-align: justify;
    cursor: pointer;
  }

  tr:first-child th:first-child {
    border-radius: $border_radius 0 0 0;
  }

  tr:last-child th:last-child {
    border-radius: 0 $border_radius 0 0;
  }
}

.tableBody {
  tr {
    td {
      width: auto;
      max-width: 250px;
      padding: 0.75rem 1rem;
      font-size: 0.9rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;

      &.expanded {
        white-space: normal;
        overflow: visible;
        text-overflow: ellipsis;
      }

      a {
        display: block;
        width: 100%;
      }
    }
  }
}

.eventColor {
  display: flex;
  align-items: center;
  gap: 8px;

  &__colorBox {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
}

.icon {
  cursor: pointer;
  color: #6b7280;
  height: 1.125rem;
  width: 1.125rem;

  &:hover {
    color: #ef4444;
  }
}

// Pagination styles
.pageNumbersWrapper {
  flex-wrap: wrap;
  overflow-x: auto;
  max-width: 600px;
  -webkit-overflow-scrolling: touch;
}

.pageNumber {
  padding: 0.25rem 0.5rem;
  margin: 0 0 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  background-color: #f9f9f9;
  cursor: pointer;

  &.activePage {
    background-color: $blue_primary;
    color: white;
    font-weight: bold;
  }
}

.pageSelect {
  margin: 0 0 0.5rem 0.5rem;
  padding: 0.25rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;
  background-color: #f9f9f9;
  cursor: pointer;
}
