@use "@/styles/variables.module.scss" as *;

$active-color: #ffffff;
$inactive-color: #888888;
$active-line-color: $blue_primary;
$inactive-line-color: #888888;
$active-background-color: $blue_primary;
$inactive-background-color: #f9fafb;
$button-padding: 0.5rem 1rem;
$button-border-radius: 0.375rem;
$button-font-weight-active: bold;
$button-font-weight-inactive: bold;

.breadcrumb {
  margin: -1rem 1rem 0.5rem 1rem;
  font-size: 18px;
  font-weight: 500;

  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin-right: 0.5rem;

    a {
      text-decoration: none;
      color: $blue-primary;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__separator {
    margin-right: 0.5rem;
    color: #555;
  }
}

.tabContainer {
  display: flex;
  margin: 0 1.6rem -0.1rem 1rem;
  border-bottom: 1.5px solid $active-line-color;
}

.tabButton {
  padding: $button-padding;
  border-radius: $button-border-radius $button-border-radius 0 0;
  border: 1px solid $active-line-color;
  border-bottom: none;
  cursor: pointer;

  &.active {
    font-weight: $button-font-weight-active;
    color: $active-color;
    background-color: $active-background-color;
  }

  &.inactive {
    font-weight: $button-font-weight-inactive;
    color: $inactive-color;
    border-color: $inactive-line-color;
    background-color: $inactive-background-color;
  }
}

.tabContent {
  margin: 0 1rem 0 1rem;
  padding: 1rem;
  border: 1px solid $active-line-color;
  border-radius: 0 $button-border-radius $button-border-radius
    $button-border-radius;
  border-top: 1px solid $blue_primary;
  background-color: $inactive-background-color;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
