.rebookableSlots {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  width: 80vw;
  height: 90vh;
}

.noInstructorMessage {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.headerRow {
  display: flex;
  text-align: center;
  gap: 12px;

  position: sticky;
  top: 0;
}

.dayHeader {
  width: 90px;
  min-width: 90px;
  background-color: white;

  &__date {
    font-weight: 500;
  }

  &__day {
    font-size: 0.9rem;
  }
}

.slotRow {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

.dayColumn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90px;
  min-width: 90px;
}

.timeSlotBtn {
  background-color: white;
  color: green;
  border: 1px solid green;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  box-shadow: 0 2px 4px rgba(0, 128, 0, 0.1);

  &:hover {
    background-color: #e9fbe9;
  }
}
