.rebookableSlots {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 2rem;
  width: 80vw;
  height: 80vh;

  &__instructor {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-top: 5rem;
  }
}
