.modal {
  padding: 2rem;

  h3 {
    text-align: center;
    font-size: 1.3rem;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin-top: 0.5rem;
  }
  &__listItem {
    margin-top: 0.2rem;

    span {
      font-weight: 500;
      font-size: 1.1rem;
    }
  }
}
