@use "@/styles/variables.module.scss" as *;

.container {
  background-color: $gray-background;
  margin: 1rem 1rem 2.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.planContainer {
  display: flex;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.planData {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-right: 1rem;
  padding: 0.5rem 3rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 1.5rem;
  margin-right: 0.5rem;
}
