.calendarActions {
  &__booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    .bookableClasses {
      cursor: default;
      color: gray;
      text-decoration: none;
      font-size: 0.8rem;

      &.clickable {
        cursor: pointer;
        color: black;
        text-decoration: underline;
      }
    }
  }
}

.modal {
  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.modal {
  padding: 1rem;
}