@import "../../../../variables.module.scss";

.label {
  font-size: 0.9rem;
  margin-bottom: 5rem;

  input {
    margin-right: 0.25rem;
  }
}

.required {
  color: $red-alert;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.privacyPolicy {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  max-height: 60px;
  overflow-y: auto;

  margin: 0.25rem 0;
}
