@use "../../../../variables.module.scss" as *;

.label {
  font-size: 14px;
  margin-bottom: 5rem;

  input {
    margin-right: 0.25rem;
  }
}

.required {
  color: $red-alert;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.privacyPolicy {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  max-height: 70px;
  overflow-y: auto;

  margin: 0 0 0.2rem 0;
}
