.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  position: fixed;
  height: 100vh;
  overflow: auto;
  width: 15rem;
  flex: none;
}

.content {
  flex-grow: 1;
  padding: 1.5rem;
  margin-left: 15rem;
  height: 100vh;
  overflow: auto;
}
