@use "@/styles/variables.module.scss" as *;

.classItem {
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f8f9fa;
    cursor: pointer;
  }

  &--selected {
    box-shadow:
      rgba(65, 66, 152, 0.4) 0px 2px 6px,
      rgba(65, 66, 152, 0.3) 0px 0px 0px 4px;
    background-color: #fffafa;
    &:hover {
      background-color: #fffafa;
    }
  }

  &.booked {
    border-left: 8px solid $light-pink-regular-class;
  }
  &.rebooked {
    border-left: 8px solid $light-yellow-rebooked-class;
  }
  &.completed {
    border-left: 8px solid $completed-background-color;
  }
  &.canceledByInstructor {
    border-left: 8px solid $gray-canceled-by-instructor;
  }
  &.freeTrial {
    border-left: 8px solid $green-success;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__children {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__childrenToEdit {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
  }
  &__childrenIconContainer {
    height: 1.2rem;
    width: 1.2rem;
  }
  &__childrenIcon {
    height: 1.2rem;
  }

  &__time {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 70px;

    span:last-of-type {
      font-size: 14px;
      color: #3c4043;
    }
  }

  &__buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
