.children {
  &__header {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 180px;
    background-color: #c2c1c3;
    border: 5px solid #c2c1c3;
  }

  &__content {
    flex: 1 1 250px;
    min-width: 250px;
    background-color: white;

    padding: 1rem;
    border-radius: 8px;
    box-shadow:
      rgba(0, 0, 0, 0.16) 0px 3px 6px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  &__icon {
    height: 1.7rem;
    color: white;
  }

  &__nameTitle {
    font-size: 14px;
    color: #3c4043;
  }
  &__name {
    font-size: 20px;
    font-weight: 500;
  }

  &__birthdateContainer {
    margin-top: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 1rem;
  }
  &__birthdateTitle {
    font-size: 14px;
    color: #3c4043;
  }
  &__birthdate {
    font-size: 16px;
    font-weight: 500;
  }

  &__personalInfoContainer {
    margin-top: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 1rem;
  }
  &__personalInfoTitle {
    font-size: 14px;
    color: #3c4043;
  }
  &__personalInfo {
    font-size: 16px;
    font-weight: 500;
  }
}
