.rebookableInstructors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 2rem;
  width: 80vw;
  height: 80vh;

  &__list {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 230px;
    height: 120px;
    padding: 12px;
    background-color: #ece8e8;

    &--disabled {
      color: gray;
    }

    h5 {
      padding: 8px 0;
    }
  }
}
