.rebookableInstructors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 1.5rem 2rem;
  width: 80vw;
  height: 90vh;

  &__list {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
    width: 100%;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__dateTime {
    display: flex;
    gap: 5px;
    font-size: 1.2rem;
    font-weight: 500;
  }

  &__icon {
    width: 1.5rem;
  }
}
