@import "../../../variables.module.scss";


.form {
  width: 100%;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  min-width: 1.2rem;
  &--error {
    color: $red-alert;
  }
  &--success {
    color: $green-success;
  }
}

.messageWrapper {
  display: flex;
  gap: 0.2rem;
}

.errorText {
  font-size: 0.9rem;
  color: $red-alert;
  margin-bottom: unset !important;
}

.successText {
  font-size: 0.9rem;
  color: $green-success;
  margin-bottom: unset !important;
}

.loginLink {
  display: block;
  text-align: center; 
  margin-top: 1rem;  
}