@import "../../../variables.module.scss";

.instructorClasses__classItem {
  &.statusBooked {
    border-left: 8px solid $green-success;
  }
  &.statusCompleted {
    border-left: 8px solid $completed-background-color;
  }
  &.statusCanceledByInstructor {
    border-left: 8px solid $gray-canceled-by-instructor;
  }
  &.statusCanceled {
    border-left: 8px solid $gray-background;
  }
}

.instructorClasses {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f9fafb;
  padding: 1rem;
  border-radius: 8px;
  min-height: calc(100vh - 91px);
  height: 100%;

  &__classDate {
    font-size: 16px;
    color: #333;
    font-weight: 600;
  }

  &__classStatusContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  &__iconContainer {
    width: 1.2rem;
    height: 1.2rem;
  }
  &__classStatusIcon {
    height: 1.2rem;

    &.statusBooked {
      color: $green-success;
    }
    &.statusCompleted {
      color: $completed-background-color;
    }
    &.statusCanceledByInstructor {
      color: $gray-canceled-by-instructor;
    }
    &.statusCanceled {
      color: $gray-background;
    }
  }
  &__classStatus {
    font-size: 0.9rem;
  }

  &__classItem {
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    box-shadow:
      rgba(0, 0, 0, 0.16) 0px 3px 6px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  &__classItemHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__children {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__childrenToEdit {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
  }
  &__childrenIconContainer {
    height: 1.2rem;
    width: 1.2rem;
  }
  &__childrenIcon {
    height: 1.2rem;
  }

  &__buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}

.currentClassBackground {
  box-shadow: rgba(65, 66, 152, 0.3) 0px 0px 0px 4px;
}
