@use "../../../variables.module.scss" as *;

.infoBanner {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;

  &__iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 1.5rem;
    color: $blue-primary;
  }

  &__notice {
    font-size: 0.85rem;
  }
}

// Individual styles for each class
.classDetail {
  .infoBanner__notice {
    font-size: 0.8rem;
  }
}
