@import "../../../variables.module.scss";

.inputWrapper {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  position: relative;
}

.inputContainer {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin-top: 0.25rem;
  position: relative;

  &:focus-within {
    border-color: $blue_primary;
  }
}

.inputField {
  width: 100%;
  border: none;
  padding-right: 30px;

  &:focus {
    outline: none;
  }
}

.icon {
  display: flex;
  padding-right: 0.5rem;
}

.required,
.errorText {
  color: $red-alert;
  font-size: 0.8rem;
}

.eyeIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.eyeIconSvg {
  width: 1.2rem;
  height: 1.2rem;
}
