@import "../../../variables.module.scss";

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
}

.errorIcon {
  width: 48px;
  height: 48px;
  color: $red-alert;
}

.errorTitle {
  font-size: 20px;
  font-weight: bold;
}

.retryButton {
  background-color: $blue_primary;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.retryButton:hover {
  background-color: $blue_primary_hover;
}
