@import "../../variables.module.scss";

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  padding: 40px;

  h2 {
    align-self: center;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 0 10px 0;
  }

  .actionButton {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
  }
}

.dateInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;

  .grayOption {
    color: gray;
  }

  .icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }

  p,
  select {
    font-size: 1rem;
    cursor: pointer;
  }
}
