@import "../../variables.module.scss";

$border_radius: 0.5rem;
$font_size: 0.9rem;

.title {
  margin: 0 0 0 1rem;
}

.container {
  box-sizing: border-box;
  background-color: $gray-background;
  margin: 1rem;
  padding: 1rem;
  border-radius: $border_radius;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1rem 0;

  select,
  input {
    width: 180px;
    padding: 0.5rem;
    border: 1px solid #e5e7eb;
    border-radius: $border_radius;
    font-size: $font_size;
  }

  select {
    color: #888888;
  }
}

.filterContainer {
  display: flex;
  gap: 1rem;
}

.tableContainer {
  border-radius: $border_radius;
  border-spacing: 0;
  border-collapse: separate;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  width: 100%;
}

.tableHeader {
  background-color: $blue_primary;
  font-size: $font_size;
  font-weight: 400;
  color: #ffffff;

  th {
    padding: 0.75rem 1rem;
    text-align: justify;
    cursor: pointer;
  }

  tr:first-child th:first-child {
    border-radius: $border_radius 0 0 0;
  }

  tr:last-child th:last-child {
    border-radius: 0 $border_radius 0 0;
  }
}

.tableBody {
  tr {
    td {
      max-width: 180px;
      padding: 0.75rem 1rem;
      font-size: 0.9rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;

      &.expanded {
        white-space: normal;
        overflow: visible;
        text-overflow: unset;
      }

      a {
        display: block;
        width: 100%;
      }
    }
  }
}

.icon {
  cursor: pointer;
  color: #6b7280;
  height: 1.125rem;
  width: 1.125rem;

  &:hover {
    color: #ef4444;
  }
}
