@import "../../../variables.module.scss";

.classCard {
  padding: 0 25px 25px 25px;
  width: 470px;

  &.booked {
    border-top: 17px solid $green-success;
  }
  &.completed {
    border-top: 17px solid $completed-background-color;
  }
  &.canceledByInstructor {
    border-top: 17px solid $gray-canceled-by-instructor;
  }
  &.canceledByCustomer {
    border-top: 17px solid $gray-background;
  }
}

.children {
  display: flex;
  margin-top: 1.5rem;

  &__iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    height: 2rem;
    margin-right: 50px;
  }

  &__names {
    font-size: 20px;
    font-weight: 400;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}
