@use "../../../../variables.module.scss" as *;

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
}

.birthdate {
  margin-bottom: 1rem;

  &__label {
    font-size: 14px;
    margin-bottom: 3px;
  }
}

.messageWrapper {
  margin: 0 0 1rem 0;
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
}
