@use "@/styles/variables.module.scss" as *;

.rebookingComplete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 80vw;
  height: 90vh;

  &__icon {
    text-align: center;
    height: 65px;
    width: 65px;
    color: $green-success;
  }

  h1 {
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  p {
    margin-bottom: 0.5rem;
  }
}
