.field {
  margin-bottom: 1rem;
}

.label {
  margin-bottom: 0.5rem;
  display: block;
  font-size: 0.875rem;
  font-weight: 500;

  &__text {
    margin-bottom: 3px;
  }
  &__details {
    font-weight: normal;
  }
}

.inputWrapper {
  position: relative;
}

.inputField {
  display: block;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #e5e7eb;
  padding: 0.5rem;
  font-size: 0.875rem;
  outline-width: 2px;
  ::placeholder {
    color: #6b7280;
  }
}