@use "@/styles/variables.module.scss" as *;

.outsideContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $white-background;
}

.container {
  padding: 70px 30px 30px;
  border: 1px solid $gray-background;
  border-radius: 0.5rem;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  width: 100%;

  h2 {
    margin-bottom: 0.3rem;
  }
}

.logo {
  position: absolute;
  top: -1rem;
  left: 1rem;
}

.instruction {
  font-size: 0.9rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-align: justify;
}

.loaderWrapper {
  height: 11rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderWrapper > * {
  height: 100%;
}
