@import "../../../variables.module.scss";

.classesTable {
  &__wrapper {
    width: 100%;
    height: 100%;
    max-height: 700px;
    max-width: 600px;
    overflow: hidden;
  }

  &__container {
    background-color: #f9fafb;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__tableWrapper {
    height: 500px;
    overflow-y: auto;
  }

  &__table {
    border-collapse: collapse;
    width: 100%;
    border: none;
    table-layout: auto;
  }

  &__head {
    position: sticky;
    top: 0;
    background-color: #f9fafb;
    z-index: 1;
    text-align: left;
    font-weight: normal;
    border-bottom: 2px solid #e5e7eb;
  }

  &__th {
    padding: 0.5rem;
    font-weight: 600;
  }

  &__body {
    background-color: #ffffff;
    font-size: 0.9rem;
  }

  &__row {
    border-bottom: 1px solid #e5e7eb;
    transition: background-color 0.3s ease;

    &:last-of-type {
      border-bottom: none;
    }
    &:hover {
      background-color: #f1f5f9;
      cursor: pointer;
    }
  }

  &__td {
    padding: 0.75rem;
  }

  &__row:first-of-type &__td:first-of-type {
    border-top-left-radius: 0.5rem;
  }

  &__row:first-of-type &__td:last-of-type {
    border-top-right-radius: 0.5rem;
  }

  &__row:last-of-type &__td:first-of-type {
    border-bottom-left-radius: 0.5rem;
  }

  &__row:last-of-type &__td:last-of-type {
    border-bottom-right-radius: 0.5rem;
  }

  &__dateContainer {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__infoIcon {
    height: 1.3rem;
    color: $blue-primary;
  }

  &__instructorContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__instructorIcon {
    border-radius: 180px;
    border: 2px solid $gray-background-hover;
  }

  &__noticeContainer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__notice {
    font-size: 0.8rem;
  }
  &__noticeIcon {
    height: 2.3rem;
    color: $blue-primary;
  }

  &__buttons {
    margin: 20px auto 0 auto;
    display: flex;
    gap: 30px;
  }
}

.classesTable__rowSelected {
  background-color: #f0f0f0;
}

.tableRowDisabled {
  pointer-events: none;
  // opacity: 0.6;
  cursor: not-allowed;
}
