@import "../../../variables.module.scss";

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
}

.form {
  width: 100%;
}

.errorText {
  color: $red-alert;
  font-size: 0.8rem;
}