.calendarHeaderContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.calendarActions {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  &__container {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

@media (max-width: 1024px) {
  .calendarHeaderContainer {
    justify-content: flex-end;
  }
}

@media (max-width: 640px) {
  .calendarActions__container {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;
  }
}
