@import "../../../../variables.module.scss";

.dragDrop {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 1rem;

  .required {
    color: $red-alert;
    font-size: 0.8rem;
  }

  .documentUploader {
    border: 2px dashed #ccc;
    background-color: #fff;
    margin-top: 0.25rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;

    // &.active {
    //   border-color: #6dc24b;
    //   border: 2px dashed $blue_primary;
    // }

    .uploadInfo {
      display: flex;
      align-items: center;
      font-weight: bold;

      .uploadBtn {
        color: #0000ee;
        cursor: pointer;
      }
    }
  }

  .successFile {
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;

    .successFileInfo {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    .fileActions {
      cursor: pointer;
      font-size: 24px;
    }
  }
}
