@use "../../../../../variables.module.scss" as *;

.classCard {
  position: sticky;
  top: 0;
  padding: 0 25px 15px 25px;
  border-radius: 12px;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #fffafa;

  &.booked {
    border-top: 17px solid $light-pink-regular-class;
  }
  &.rebooked {
    border-top: 17px solid $light-yellow-rebooked-class;
  }
  &.completed {
    border-top: 17px solid $completed-background-color;
  }
  &.canceledByInstructor {
    border-top: 17px solid $gray-canceled-by-instructor;
  }
  &.canceledByCustomer {
    border-top: 17px solid $gray-background;
  }
  &.freeTrial {
    border-top: 17px solid $green-success;
  }
}

.children {
  margin-top: 30px;

  &__title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 180px;
    background-color: #c2c1c3;
    border: 5px solid #c2c1c3;
  }

  &__contentContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  &__icon {
    height: 1.7rem;
    color: white;
  }

  &__nameTitle {
    font-size: 14px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  font-size: 12px;
  color: gray;
}
