.modal {
  padding: 2rem;
  max-width: 600px;

  h3 {
    text-align: center;
    font-size: 1.3rem;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
    height: 100%;
    max-height: 400px;
    overflow: auto;
  }

  &__backBtn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}

.listItem {
  margin-top: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  transition: background-color 0.3s ease;
  background-color: #fafbfe;
  border-radius: 0.8rem;
  min-height: 60px;
  padding: 0 1rem;

  &:hover {
    background-color: #f0f1fb;
  }

  span {
    font-weight: 500;
    font-size: 1.1rem;
  }
}