.modal {
  width: 600px;
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  width: 300%;
  height: 100%;
  transition: transform 0.3s ease-in-out;

  &.slide0 {
    transform: translateX(0%);
  }

  &.slide1 {
    transform: translateX(-33.333%);
  }

  &.slide2 {
    transform: translateX(-66.666%);
  }
}
