@use "../../../variables.module.scss" as *;

.userStatus {
  &__text {
    font-size: 16px;
    font-weight: 400;
    width: 100%;
  }
}

.userLeaving {
  display: flex;
  align-items: flex-start;

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: $red-alert;
    width: 100%;
    margin: 0 0 1rem 0;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin: 0 0.2rem 0 0;
    color: $red-alert;
    position: relative;
    top: 1px;
  }
}

.switchContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.1rem 0 1rem 0;
}

.userStatusSwitcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: 1px solid $blue_primary;
  border-radius: 20px;
  width: 180px;
  height: 50px;
  position: relative;
  overflow: hidden;

  .switch {
    width: calc(50% - 4px);
    height: calc(100% - 8px);
    background: $blue_primary;
    border-radius: 16px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: all 0.5s ease;
  }

  .leaving {
    left: calc(50% + 1px);
  }

  .status {
    flex: 1;
    text-align: center;
    z-index: 1;
    color: $blue_primary;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.4s ease;

    &--active {
      color: white;
      font-weight: 400;
    }
  }
}

.leavingDate {
  &__text {
    font-size: 18px;
    font-weight: 400;
  }

  &__inputField {
    padding: 3px 6px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 6px;
    width: 200px;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
}
