.instructorsList {
  display: flex;
  gap: 20px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.instructor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 230px;
  height: 120px;
  padding: 12px;
  background-color: #ECE8E8;

  &--notRebookable {
    color:gray
  }

  h5 {
    padding: 8px 0;
  }
}